In [1]:
import tushare as ts

In [2]:
df_sh = ts.get_hist_data('sh',start='2016-12-05',end='2016-12-23')
df_ldkg = ts.get_hist_data('600606',start='2016-12-05',end='2016-12-23')

In [3]:
df_sh.columns# column names

Index([u'open', u'high', u'close', u'low', u'volume', u'price_change',
       u'p_change', u'ma5', u'ma10', u'ma20', u'v_ma5', u'v_ma10', u'v_ma20'],
      dtype='object')

In [4]:
print(type(df_sh.values[0:5,0:5]))
df_sh.values[0:5,0:5]

<type 'numpy.ndarray'>

array([[    3134.93,     3138.4 ,     3110.15,     3103.75,  1661767.75],
       [    3132.16,     3143.17,     3139.56,     3126.89,  1678049.88],
       [    3107.24,     3140.25,     3137.43,     3107.24,  1867066.12],
       [    3115.9 ,     3117.01,     3102.88,     3084.8 ,  1574267.62],
       [    3120.7 ,     3125.28,     3118.08,     3110.08,  1541697.12]])

In [5]:
df_sh.index# index

Index([u'2016-12-23', u'2016-12-22', u'2016-12-21', u'2016-12-20',
       u'2016-12-19', u'2016-12-16', u'2016-12-15', u'2016-12-14',
       u'2016-12-13', u'2016-12-12', u'2016-12-09', u'2016-12-08',
       u'2016-12-07', u'2016-12-06', u'2016-12-05'],
      dtype='object', name=u'date')

In [6]:
df_sh['close'][0:3]

date
2016-12-23    3110.15
2016-12-22    3139.56
2016-12-21    3137.43
Name: close, dtype: float64

In [7]:
df_sh.loc['2016-12-20':'2016-12-16']['close']

date
2016-12-20    3102.88
2016-12-19    3118.08
2016-12-16    3122.98
Name: close, dtype: float64

In [8]:
df_sh.iloc[2:5]['close']

date
2016-12-21    3137.43
2016-12-20    3102.88
2016-12-19    3118.08
Name: close, dtype: float64

In [9]:
import pandas as pd
df_2 = pd.DataFrame({'sh_close':df_sh['close'],'ldkg_close':df_ldkg['close']})

In [10]:
df_2

            ldkg_close  sh_close
date
2016-12-23        8.87   3110.15
2016-12-22        9.01   3139.56
2016-12-21        9.06   3137.43
2016-12-20        9.02   3102.88
2016-12-19        9.02   3118.08
2016-12-16        9.12   3122.98
2016-12-15        9.01   3117.68
2016-12-14        8.96   3140.53
2016-12-13        9.07   3155.04
2016-12-12        9.02   3152.97
2016-12-09        9.39   3232.88
2016-12-08        9.35   3215.37
2016-12-07        9.50   3222.24
2016-12-06        9.45   3199.65
2016-12-05        9.52   3204.71

In [11]:
df_2['fraction'] = df_2['sh_close']/ df_2['ldkg_close'] #new column
df_2

            ldkg_close  sh_close    fraction
date
2016-12-23        8.87   3110.15  350.636979
2016-12-22        9.01   3139.56  348.452830
2016-12-21        9.06   3137.43  346.294702
2016-12-20        9.02   3102.88  344.000000
2016-12-19        9.02   3118.08  345.685144
2016-12-16        9.12   3122.98  342.432018
2016-12-15        9.01   3117.68  346.024417
2016-12-14        8.96   3140.53  350.505580
2016-12-13        9.07   3155.04  347.854465
2016-12-12        9.02   3152.97  349.553215
2016-12-09        9.39   3232.88  344.289670
2016-12-08        9.35   3215.37  343.889840
2016-12-07        9.50   3222.24  339.183158
2016-12-06        9.45   3199.65  338.587302
2016-12-05        9.52   3204.71  336.629202

In [12]:
df_sh['stamp']= df_sh.index
df_ldkg['stamp']= df_ldkg.index
df_ldkg[['close','stamp']]

            close       stamp
date
2016-12-23   8.87  2016-12-23
2016-12-22   9.01  2016-12-22
2016-12-21   9.06  2016-12-21
2016-12-20   9.02  2016-12-20
2016-12-19   9.02  2016-12-19
2016-12-16   9.12  2016-12-16
2016-12-15   9.01  2016-12-15
2016-12-14   8.96  2016-12-14
2016-12-13   9.07  2016-12-13
2016-12-12   9.02  2016-12-12
2016-12-09   9.39  2016-12-09
2016-12-08   9.35  2016-12-08
2016-12-07   9.50  2016-12-07
2016-12-06   9.45  2016-12-06
2016-12-05   9.52  2016-12-05

In [14]:
df_m=pd.merge(df_sh[['close','stamp']],df_ldkg[['close','stamp']],left_on='stamp',right_on='stamp')# merge

In [15]:
del df_m['stamp']

In [16]:
df_m

    close_x  close_y
0   3110.15     8.87
1   3139.56     9.01
2   3137.43     9.06
3   3102.88     9.02
4   3118.08     9.02
5   3122.98     9.12
6   3117.68     9.01
7   3140.53     8.96
8   3155.04     9.07
9   3152.97     9.02
10  3232.88     9.39
11  3215.37     9.35
12  3222.24     9.50
13  3199.65     9.45
14  3204.71     9.52