reference: <http://tushare.org/trading.html#id4>

In [1]:
import tushare as ts

## real time

In [4]:
ts.get_index()

,code,name,change,open,preclose,close,high,low,volume,amount
0,000001,上证指数,-0.91,3115.8984,3118.0846,3089.7147,3117.0145,3084.7997,143017102,1556.1270
1,000002,Ａ股指数,-0.91,3262.3875,3264.6737,3234.9636,3263.5600,3229.7976,142760952,1554.2655
2,000003,Ｂ股指数,-0.86,344.3434,344.6643,341.7069,344.4268,341.6250,256150,1.8615
3,000008,综合指数,-1.08,2712.0084,2712.7597,2683.5440,2714.1952,2676.9748,31580129,328.0644
4,000009,上证380,-0.71,5570.3096,5575.0965,5535.3049,5570.8037,5527.3329,33515472,349.2879
5,000010,上证180,-1.06,7249.2463,7248.1404,7171.1606,7252.3828,7158.6549,56693886,552.5538
6,000011,基金指数,-0.46,5737.1814,5737.6042,5711.1183,5738.5728,5707.2467,14577367,432.4224
7,000012,国债指数,-0.07,159.5868,159.5738,159.4644,159.6271,159.3738,676828,6.8703
8,000016,上证50,-1.06,2293.3996,2291.3842,2267.1660,2295.1135,2262.8781,26914021,260.4492
9,000017,新综指,-0.91,2630.1947,2631.9883,2608.0692,2631.1407,2603.9013,142706586,1551.8327
10,000300,沪深300,-1.02,3328.2985,3328.9827,3295.0074,3329.1022,3289.2682,79851889,805.1390
11,399001,深证成指,-0.58,10275.4390,10283.1640,10223.7700,10276.6280,10204.0190,13971239304,1959.1647
12,399002,深成指R,-0.58,12138.7450,12147.8700,12077.7050,12140.1480,12054.3720,5907793338,706.2946
13,399003,成份Ｂ指,-0.16,6146.6820,6133.4370,6123.6210,6154.8040,6112.4750,8727665,0.6921
14,399004,深证100R,-0.88,4495.3570,4500.4960,4460.7960,4495.5080,4452.1250,2347294684,266.5828
15,399005,中小板指,-0.46,6513.7530,6514.0970,6483.8850,6517.4430,6472.0950,915485847,141.5686
16,399006,创业板指,-0.05,1981.6930,1980.4100,1979.3400,1989.9860,1974.9280,548465564,100.6351
17,399100,新 指 数,-0.47,8651.4460,8660.3400,8620.0690,8656.1160,8603.6450,13692028922,1936.4663
18,399101,中小板综,-0.30,11522.5620,11532.7100,11497.7110,11535.6290,11475.2300,5428816910,816.9401
19,399106,深证综指,-0.35,1982.4750,1984.1010,1977.0660,1984.3130,1972.9170,13971239304,1959.1647
20,399107,深证Ａ指,-0.35,2073.9160,2075.6300,2068.2780,2075.8840,2063.9260,13952024433,1957.9084
21,399108,深证Ｂ指,-0.45,1130.9730,1130.0900,1124.9950,1130.9730,1123.3370,19214871,1.2563
22,399333,中小板R,-0.46,7115.2920,7115.6670,7082.6650,7119.3220,7069.7850,915485847,141.5686
23,399606,创业板R,-0.05,2050.3280,2049.0010,2047.8940,2058.9080,2043.3290,548465564,100.6351

In [7]:
# ts.get_today_all()
df = ts.get_realtime_quotes('600606') #Single stock symbol
df[['code','name','price','bid','ask','volume','amount','time']]

     code  name  price    bid    ask    volume         amount      time
0  600606  绿地控股  8.970  8.970  8.980  26405158  237130580.000  14:52:10

In [10]:
#上证指数 深圳成指 沪深300指数 上证50 中小板 创业板
ts.get_realtime_quotes(['sh','sz','hs300','sz50','zxb','cyb'])

,name,open,pre_close,price,high,low,bid,ask,volume,amount,...,a2_p,a3_v,a3_p,a4_v,a4_p,a5_v,a5_p,date,time,code
0,上证指数,3115.8984,3118.0846,3092.4605,3117.0145,3084.7997,0,0,148536315,162031460781,...,0,,0,,0,,0,2016-12-20,14:54:11,000001
1,深证成指,10275.439,10283.164,10230.734,10276.628,10204.019,0.000,0.000,14550322625,204328530849.134,...,0.000,,0.000,,0.000,,0.000,2016-12-20,14:54:12,399001
2,沪深300,3328.299,3328.983,3296.833,3329.102,3289.268,0.000,0.000,8254120000,83607411476.000,...,0.000,,0.000,,0.000,,0.000,2016-12-20,14:54:12,399300
3,上证50,2293.3996,2291.3842,2268.9454,2295.1135,2262.8781,0,0,27810659,27023777965,...,0,,0,,0,,0,2016-12-20,14:54:11,000016
4,中小板指,6513.753,6514.097,6491.317,6517.443,6472.095,0.000,0.000,957439932,14824800646.860,...,0.000,,0.000,,0.000,,0.000,2016-12-20,14:54:12,399005
5,创业板指,1981.693,1980.410,1980.116,1989.986,1974.928,0.000,0.000,571510355,10482409774.700,...,0.000,,0.000,,0.000,,0.000,2016-12-20,14:54:12,399006

In [9]:
#或者混搭
ts.get_realtime_quotes(['sh','600848'])

,name,open,pre_close,price,high,low,bid,ask,volume,amount,...,a2_p,a3_v,a3_p,a4_v,a4_p,a5_v,a5_p,date,time,code
0,上证指数,3115.8984,3118.0846,3092.0580,3117.0145,3084.7997,0,0,148341753,161804867700,...,0,,0,,0,,0,2016-12-20,14:54:01,000001
1,上海临港,18.450,18.530,18.340,18.480,18.200,18.330,18.340,2707800,49656094.000,...,18.350,105,18.360,90,18.370,153,18.380,2016-12-20,14:54:05,600848

In [35]:
df = ts.get_realtime_quotes('sh')
if df['price'][0] > df['low'][0]:
    print '\a'##make a sound



In [31]:
df

,name,open,pre_close,price,high,low,bid,ask,volume,amount,...,a2_p,a3_v,a3_p,a4_v,a4_p,a5_v,a5_p,date,time,code
0,上证指数,3115.8984,3118.0846,3102.8759,3117.0145,3084.7997,0,0,157426759,171611881109,...,0,,0,,0,,0,2016-12-20,15:01:03,000001

## historical data

In [2]:
a=ts.get_hist_data('600848',start='2016-12-05',end='2016-12-20')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2016-12-20,18.45,18.48,18.38,18.20,28583.00,-0.15,-0.81,18.382,19.098,20.979,49722.80,65474.61,74833.89,0.72
2016-12-19,18.50,18.68,18.53,18.35,30877.32,0.05,0.27,18.394,19.358,21.308,70323.30,66778.38,79041.32,0.77
2016-12-16,18.53,18.85,18.48,18.45,47045.17,0.00,0.00,18.492,19.625,21.604,81815.08,67593.47,83580.19,1.18
2016-12-15,17.98,18.86,18.48,17.88,60191.69,0.44,2.44,18.676,19.884,21.903,96447.11,69131.63,86520.48,1.51
2016-12-14,18.11,18.50,18.04,17.55,81916.83,-0.40,-2.17,19.162,20.184,22.132,92427.81,68787.02,85714.37,2.05
2016-12-13,19.04,19.15,18.44,17.18,131585.48,-0.58,-3.05,19.814,20.528,22.395,81226.42,72338.49,84516.06,3.29
2016-12-12,19.48,19.92,19.02,18.98,88336.21,-0.38,-1.96,20.322,20.971,22.633,63233.47,78205.25,83376.12,2.21
2016-12-09,20.91,20.99,19.40,19.37,120205.35,-1.51,-7.22,20.758,21.609,22.837,53371.87,79246.45,84240.71,3.01
2016-12-08,21.30,21.39,20.91,20.85,40095.18,-0.39,-1.83,21.092,22.134,23.062,41816.15,71708.47,83446.90,1.00
2016-12-07,21.14,21.32,21.30,20.82,25909.87,0.32,1.52,21.206,22.479,23.230,45146.22,76025.45,88985.58,0.65
2016-12-06,21.18,21.38,20.98,20.85,41620.73,-0.22,-1.04,21.242,22.860,23.359,63450.56,84193.17,92539.81,1.04
2016-12-05,20.85,21.38,21.20,20.82,39028.21,0.14,0.67,21.620,23.258,23.511,93177.02,91304.25,95251.12,0.98

In [3]:
a=ts.get_hist_data('600848',start='2016-12-05',end='2016-12-20')
a.columns

Index([u'open', u'high', u'close', u'low', u'volume', u'price_change',
       u'p_change', u'ma5', u'ma10', u'ma20', u'v_ma5', u'v_ma10', u'v_ma20',
       u'turnover'],
      dtype='object')

In [13]:
type(a.index)

pandas.tseries.index.DatetimeIndex

## tick data

In [13]:
ts.get_tick_data('600606',date='2014-01-09')

       time  price  change  volume  amount type
0  15:00:10   5.23    5.23       0       0   卖盘

## Huge transaction

In [23]:
df=ts.get_sina_dd('601668', date='2016-12-20',vol=15000) #默认400手
df

     code  name      time  price   volume  preprice type
0  601668  中国建筑  14:58:02   8.74  1530400      8.73   买盘
1  601668  中国建筑  14:57:38   8.73  1724700      8.73   卖盘
2  601668  中国建筑  14:53:31   8.70  2293700      8.67   买盘
3  601668  中国建筑  14:53:07   8.66  1789894      8.64   买盘
4  601668  中国建筑  14:25:41   8.61  1809500      8.60   买盘
5  601668  中国建筑  09:45:30   8.83  1759500      8.84   卖盘
6  601668  中国建筑  09:30:09   8.70  1834600      8.72   卖盘
7  601668  中国建筑  09:30:04   8.72  1506000      8.71   买盘
8  601668  中国建筑  09:25:01   8.69  4929900      0.00   买盘

In [24]:
type(df)

pandas.core.frame.DataFrame

In [29]:
df['price'][0]

8.7400000000000002

In [28]:
df['price']

0    8.74
1    8.73
2    8.70
3    8.66
4    8.61
5    8.83
6    8.70
7    8.72
8    8.69
Name: price, dtype: float64

## 保存数据

In [3]:
df = ts.get_hist_data('601668')
df.to_csv('./601668.csv')
df.to_csv('./601668OHLC.csv',columns=['open','high','low','close'])

In [7]:
df.to_hdf('./hdf.h5','601668stock')