## Technical Signal

In [40]:
%matplotlib inline
import tushare as ts
import numpy as np
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import tushare as ts
from techFun import *

In [41]:
df_sh = ts.get_hist_data('sh',start='2015-12-05',end='2016-12-23')
df_ldkg = ts.get_hist_data('600606',start='2015-12-05',end='2016-12-23')

In [42]:
df_ldkg['close'].shape

(256,)

In [43]:
import techFun
techFun.MA(range(9),2)
techFun.VOL(range(9),2)

[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, -1]

In [44]:
df_m =pd.merge(df_ldkg,df_sh
         ,left_index=True,right_index=True,how='right')#merge by index
df_m.iloc[0:5]

,open_x,high_x,close_x,low_x,volume_x,price_change_x,p_change_x,ma5_x,ma10_x,ma20_x,...,low_y,volume_y,price_change_y,p_change_y,ma5_y,ma10_y,ma20_y,v_ma5_y,v_ma10_y,v_ma20_y
date,,,,,,,,,,,,,,,,,,,,,
2016-12-23,9.01,9.02,8.87,8.83,530662.25,-0.14,-1.55,8.996,9.016,9.300,...,3103.75,1661767.75,-29.41,-0.94,3121.620,3129.730,3184.963,1664569.70,1848496.01,2058088.36
2016-12-22,9.06,9.06,9.01,8.97,322022.34,-0.05,-0.55,9.046,9.068,9.345,...,3126.89,1678049.88,2.13,0.07,3124.186,3142.003,3192.552,1662193.55,1886343.19,2091960.78
2016-12-21,9.03,9.06,9.06,9.01,354934.44,0.04,0.44,9.046,9.102,9.384,...,3107.24,1867066.12,34.55,1.11,3119.810,3149.584,3197.661,1706564.82,1889248.37,2124220.54
2016-12-20,9.03,9.04,9.02,8.95,299407.62,0.00,0.00,9.026,9.146,9.422,...,3084.80,1574267.62,-15.20,-0.49,3120.430,3158.065,3202.847,1735869.37,1871614.61,2155847.04
2016-12-19,9.08,9.11,9.02,8.99,360903.69,-0.10,-1.10,9.036,9.189,9.429,...,3110.08,1541697.12,-4.90,-0.16,3130.862,3167.742,3210.120,1791344.85,1871760.54,2207949.43

In [45]:
len(techFun.MA(df_ldkg['close'].values, 5))

256

In [46]:
len(techFun.VOL(df_ldkg['close'].values,5))

256

In [51]:
sig=pd.DataFrame({'close':df_ldkg['close'].values,
              'ma':techFun.MA(df_ldkg['close'].values, 5),
              'vol':techFun.VOL(df_ldkg['close'].values,5),
                 'time':df_ldkg.index.values})
sig = sig.set_index('time')

In [52]:
sig

            close      ma       vol
time
2016-12-23   8.87   8.996  0.065299
2016-12-22   9.01   9.046  0.040792
2016-12-21   9.06   9.046  0.040792
2016-12-20   9.02   9.026  0.052000
2016-12-19   9.02   9.036  0.054626
2016-12-16   9.12   9.036  0.054626
2016-12-15   9.01   9.090  0.154013
2016-12-14   8.96   9.158  0.177020
2016-12-13   9.07   9.266  0.187681
2016-12-12   9.02   9.342  0.168926
2016-12-09   9.39   9.442  0.064312
2016-12-08   9.35   9.502  0.110887
2016-12-07   9.50   9.644  0.223123
2016-12-06   9.45   9.660  0.214942
2016-12-05   9.52   9.678  0.199840
2016-12-02   9.69   9.724  0.184022
2016-12-01  10.06   9.740  0.183848
2016-11-30   9.58   9.688  0.106471
2016-11-29   9.54   9.734  0.099318
2016-11-28   9.75   9.660  0.245927
2016-11-25   9.77   9.538  0.313139
2016-11-24   9.80   9.410  0.322800
2016-11-23   9.81   9.284  0.263484
2016-11-22   9.17   9.160  0.021909
2016-11-21   9.14   9.178  0.046217
2016-11-18   9.13   9.190  0.042426
2016-11-17   9.17   9.216  0.037202
2016-11-16   9.19   9.198  0.065848
2016-11-15   9.26   9.166  0.094573
2016-11-14   9.20   9.114  0.099920
...           ...     ...       ...
2016-01-20  13.03  13.110  0.214756
2016-01-19  13.38  13.024  0.299105
2016-01-18  12.92  12.978  0.255296
2016-01-15  12.87  12.910  0.302589
2016-01-14  13.35  12.992  0.334509
2016-01-13  12.60  12.902  0.282588
2016-01-12  13.15  13.250  0.595046
2016-01-11  12.58  13.426  0.665420
2016-01-08  13.28  13.850  0.666693
2016-01-07  12.90  14.460  1.112421
2016-01-06  14.34  15.260  1.140824
2016-01-05  14.03  15.756  1.171710
2016-01-04  14.70  16.306  0.827227
2015-12-31  16.33  16.848  0.344174
2015-12-30  16.90  17.034  0.253267
2015-12-29  16.82  17.216  0.384531
2015-12-28  16.78  17.508  0.507598
2015-12-25  17.41  17.896  0.543051
2015-12-24  17.26  18.006  0.486193
2015-12-23  17.81  18.166  0.316329
2015-12-22  18.28  18.088  0.424189
2015-12-21  18.72  17.912  0.486062
2015-12-18  17.96  17.670  0.281851
2015-12-17  18.06  17.616  0.244508
2015-12-16  17.42  17.680  0.364692
2015-12-15  17.40  18.032  0.667515
2015-12-14  17.51  -1.000 -1.000000
2015-12-11  17.69  -1.000 -1.000000
2015-12-10  18.38  -1.000 -1.000000
2015-12-09  19.18  -1.000 -1.000000

[256 rows x 3 columns]

In [53]:
sign = np.sign(sig['close'] - sig['ma']) 
sign[abs(sig['close'] - sig['ma']) < sig['vol']] = 0

In [54]:
sign

time
2016-12-23   -1
2016-12-22    0
2016-12-21    0
2016-12-20    0
2016-12-19    0
2016-12-16    1
2016-12-15    0
2016-12-14   -1
2016-12-13   -1
2016-12-12   -1
2016-12-09    0
2016-12-08   -1
2016-12-07    0
2016-12-06    0
2016-12-05    0
2016-12-02    0
2016-12-01    1
2016-11-30   -1
2016-11-29   -1
2016-11-28    0
2016-11-25    0
2016-11-24    1
2016-11-23    1
2016-11-22    0
2016-11-21    0
2016-11-18   -1
2016-11-17   -1
2016-11-16    0
2016-11-15    0
2016-11-14    0
             ..
2016-01-20    0
2016-01-19    1
2016-01-18    0
2016-01-15    0
2016-01-14    1
2016-01-13   -1
2016-01-12    0
2016-01-11   -1
2016-01-08    0
2016-01-07   -1
2016-01-06    0
2016-01-05   -1
2016-01-04   -1
2015-12-31   -1
2015-12-30    0
2015-12-29   -1
2015-12-28   -1
2015-12-25    0
2015-12-24   -1
2015-12-23   -1
2015-12-22    0
2015-12-21    1
2015-12-18    1
2015-12-17    1
2015-12-16    0
2015-12-15    0
2015-12-14    1
2015-12-11    1
2015-12-10    1
2015-12-09    1
dtype: float64

In [55]:
sig['signal'] = sign

In [57]:
sig.iloc[0:9]

            close     ma       vol  signal
time
2016-12-23   8.87  8.996  0.065299      -1
2016-12-22   9.01  9.046  0.040792       0
2016-12-21   9.06  9.046  0.040792       0
2016-12-20   9.02  9.026  0.052000       0
2016-12-19   9.02  9.036  0.054626       0
2016-12-16   9.12  9.036  0.054626       1
2016-12-15   9.01  9.090  0.154013       0
2016-12-14   8.96  9.158  0.177020      -1
2016-12-13   9.07  9.266  0.187681      -1